<a href="https://colab.research.google.com/github/strangelycutlemon/LS-Sprint-Challenges/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 0 - Revert your version of Pandas right from the start
I don't want any of you to get stuck because of Pandas bugs, so right from the get-go revert back to version `0.23.4`
- Run the cell below
- Then restart your runtime. Go to `Runtime`  ->  `Restart runtime...` in the top menu (or click the "RESTART RUNTIME" button that shows up in the output of the cell below).

In [13]:
!pip install pandas==0.23.4

Requirement already satisfied: pandas==0.23.4 in /usr/local/lib/python3.6/dist-packages (0.23.4)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.12.0)

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

In [14]:
# load the data
data_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data'
import pandas as pd
headers = ['OpAge', 'OpYear', 'NumNodesDetected', 'Survived5Years']
df = pd.read_csv(data_url, names=headers)
df.head(10)

   OpAge  OpYear  NumNodesDetected  Survived5Years
0     30      64                 1               1
1     30      62                 3               1
2     30      65                 0               1
3     31      59                 2               1
4     31      65                 4               1
5     33      58                10               1
6     33      60                 0               1
7     34      59                 0               2
8     34      66                 9               2
9     34      58                30               1

In [15]:
# Check for NaNs
df.isnull().sum()

OpAge               0
OpYear              0
NumNodesDetected    0
Survived5Years      0
dtype: int64

In [0]:
# Change Survived5Years to Binary 1 and 0 values
df['Survived5Years'] = df['Survived5Years'].apply(lambda x: 0 if x==2 else 1)

In [17]:
df.head(10)

   OpAge  OpYear  NumNodesDetected  Survived5Years
0     30      64                 1               1
1     30      62                 3               1
2     30      65                 0               1
3     31      59                 2               1
4     31      65                 4               1
5     33      58                10               1
6     33      60                 0               1
7     34      59                 0               0
8     34      66                 9               0
9     34      58                30               1

In [18]:
df.describe()
# Average survival rate is 73.5%

            OpAge      OpYear  NumNodesDetected  Survived5Years
count  306.000000  306.000000        306.000000      306.000000
mean    52.457516   62.852941          4.026144        0.735294
std     10.803452    3.249405          7.189654        0.441899
min     30.000000   58.000000          0.000000        0.000000
25%     44.000000   60.000000          0.000000        0.000000
50%     52.000000   63.000000          1.000000        1.000000
75%     60.750000   65.750000          4.000000        1.000000
max     83.000000   69.000000         52.000000        1.000000

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

In [0]:
#

## Part 3 - DataFrame Filtering

Use DataFrame filtering to subset the data into two smaller dataframes. You should make one dataframe for individuals who survived >5 years and a second dataframe for individuals who did not. 

Create a graph with each of the dataframes (can be the same graph type) to show the differences in Age and Number of Positive Axillary Nodes Detected between the two groups.

In [0]:
# TODO

## Part 4 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive relationship with survival? (As that feature goes up in value rate of survival increases)
- What is at least one feature that looks to have a negative relationship with survival? (As that feature goes down in value rate of survival increases)
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

Your Text Answer Here

In [0]:
# Any Supplemental Code for Analysis Here